@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

:root[data-theme='dark'] {
--themebg: #0e1011;
--themefontcolor: #ffffff;
}

:root[data-theme='light'] {
--themebg: #ffffff;
--themefontcolor: #0e1011;
}

body {
    margin: 1vw 20vw;
    background-color: var(--themebg);
    color: var(--themefontcolor);
    transition: background-color 0.15s ease, color 0.15s ease; /* Smooth transition */
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;;
}
