@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

:root[data-theme='dark'] {
    --themebg: #0e1011;
    --themefontcolor: #ffffff;
}

:root[data-theme='light'] {
    --themebg: #ffffff;
    --themefontcolor: #0e1011;
}
:root {
    --base-font-size: 16px;
}

html {
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
    color-scheme: light dark;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
}

body, * {
    background-color: var(--themebg);
    color: var(--themefontcolor);
    transition: background-color 0.15s ease, color 0.15s ease; 
}

body {
    margin: 1vw 20vw;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.4rem;
}
